@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.title {;
  font-size: 65px;
  font-family: 'Sedgwick Ave Display', cursive;
}


.savedFlightCards {
	font-family: 'Roboto Slab', serif
}

.ui.basic.black.button {
	margin-left: 18px;
    font-family: 'Roboto Slab', serif
}

.button {
    margin-left: 390px;
}

i.large.icon, i.large.icons {
    margin-bottom: -9px;
}

i.icon.sort.ascending:before {
    margin-left: 295px;

}

.ui.relaxed.grid {
	margin-left: 280px;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
}

div.rbc-calendar {
    width: 900px;
    height: 700px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
}

.rbc-btn-group > button:not(:first-child):not(:last-child) {
    font-family: 'Roboto Slab', serif;
}

.rbc-btn-group > button:first-child:not(:last-child) {
    font-family: 'Roboto Slab', serif; 
}

.rbc-btn-group > button:last-child:not(:first-child) {
    font-family: 'Roboto Slab', serif;
}

.sort {
    font-family: 'Roboto Slab', serif;
    margin: auto;

}

.price {
    font-family: 'Roboto Slab', serif;
    margin-left: 0px;
    cursor: pointer;
}

.priceSearch {
    font-family: 'Roboto Slab', serif;
    margin-left: 0px;
    cursor: pointer;
}

.date {
    font-family: 'Roboto Slab', serif;
    margin-left: 50px;
    margin-top: -33px;
    cursor: pointer;
}

.profileImage {
    cursor: pointer;
}

.searchResults {
    font-family: 'Roboto Slab', serif;
}

h2.ui.header {
    font-family: 'Roboto Slab', serif
}

.ui.grid>.row {
    margin-right: 57px;
}

div.airportSearch {
    width: 177px !important;
    height: 38px !important;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif !important;
    font-color: rgba(0,0,0,.87) !important;
    margin: 0;
    font-size: 14px !important;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: white !important;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87) !important;
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
    font-color: gray;
}

.ui.input {
    font-family: 'Roboto Slab', serif;
}

.username {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

.dropzone {
    width: 180px;
    height: 150px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 4px; 
    width: 180px;
    height: 30px; 
}

.ui.card>.image, .ui.cards>.card>.image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}


.ui.divider:not(.vertical):not(.horizontal) {
    border-width: 1px;
    border-top: 1px solid rgb(128, 127, 128);
    border-bottom: 1px solid rgb(128, 127, 128);
}

.ui.text.container {
    font-family: 'Roboto Slab', serif

}

.ui.button, .ui.buttons .button, .ui.buttons .or {
    font-family: 'Roboto Slab', serif
}

.ui.card>.content>.header:not(.ui) {
    font-family: 'Roboto Slab', serif;
}

.profile.saved.flights {
    font-family: 'Roboto Slab', serif;
    margin-left: 293px;
    border-left: 6px solid white;
    border-radius: 3px;
}

.ui.card .meta, .ui.cards>.card .meta {
    font-family: 'Roboto Slab', serif;
}

.item.nav-item {
    font-family: 'Roboto Slab', serif;
}

.item.nav-item-logo {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 15px;
}

div.ui.cards {
	margin-left: 280px;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.ui.equal.width.grid {
	margin-left: 50px;
}

/*center cards */
/*
.ui.input input {
    color: rgb(112,117,123);
}*/

.datePicker {
	margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
    font-color: gray;
}

body {
	background-image: url(sky.jpg);
	background-attachment: fixed;
	z-index: -1;
	opacity: 0.95;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* css for ticket*/