@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.title {@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
  font-size: 50px;
  font-family: 'Anton', sans-serif;
}

/*.HowTo {
	font-family: 'Zilla Slab', cursive;
}*/

.savedFlightCards {
	font-family: 'Roboto Slab', serif
}

.ui.relaxed.grid {
	margin-left: 280px;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
}

div.ui.cards {
	margin-left: 280px;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
}

/*center cards */

body {
	background-image: url(sky.jpg);
	background-attachment: fixed;
	z-index: -1;
	opacity: 0.95;
}